.roboto-light {
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
}
  
.roboto-medium {
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
}

.gris{
    color: #707070;
}

.azul_marino{
    color: #212529";
}
